
// Colors 
// white = #fff
// black = #111010
// red = #bhf2603
// dark red = #220303
// orange = #f8327




body {
    background-color: #111010;
    color: #fff;
}

.accentColor {
    color: #ff8837;
}
