
// Fonts
//     font-family: 'Chathura', sans-serif;
//     font-family: 'Tulpen One', cursive;

body {
    font-family: 'Chathura', sans-serif;
    font-weight: 700;
    color: $textColor;
}

textarea, input::placeholder {
    font-family: 'Chathura', sans-serif;
}

.mainH1, .logo, .moreLink, button[type="submit"] {
    font-family: 'Tulpen One', cursive;
}

h1, h4, p, .moreLink, button, .contactInfo li {
    font-weight: 400;
}

h2, .contactPage h1, .blogPage h1 {
    font-size: 4.16rem;
    line-height: 4.735rem;
    letter-spacing: 0.11rem;
}

.mainH1 {
    font-size: 13.07rem;
    letter-spacing: 2.4px;
    color: #ff8327;
}

h3 {
    font-size: 3.4rem;
    line-height: 2.9rem;
    letter-spacing: 0.11rem;
}

h4 {
    font-size: 2.5rem;
    letter-spacing: 0.05rem;
}

.blogCopy h4, .blogAsideCopy a {
    font-size: 1.95rem;
}

p, textarea, input::placeholder {
    font-size: 1.95rem;
    line-height: 1.5rem;
    letter-spacing: 0.095rem;
}    

button {
    color: inherit;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

.logo {
    font-size: 3rem;
    line-height: 3.5rem;
    // letter-spacing: 0.1rem;
}

.mainNav li a {
    text-transform: uppercase;
    font-size: 1.9rem;
}

.moreLink {
    font-size: 1.9rem;
    letter-spacing: 0.1rem;
}


.socialNav li {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

.contactInfo li {
    font-size: 1.9rem;
}

    .blogAsideCopy {
        ul {
            line-height: 1.5rem;
        }
    }

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
    line-height: 3rem;
    }
}






