

// Colors

// Text color (white)
$textColor: #fff;

// Background color 1 (near black)
$background1: #111010;

// Background color 2 (dark red)
// $background2: #220303;

// Footer color (grey)
$background3: #363636;

// Icon/button color (red)
// $buttonColor: #bf2603;

// Accent color (orange)
// var(--accentColor): #ff8327;

//  I couldn't find a way  to do this using sass variables :/
:root {
    --accentColor: #ff8327;
    --background2: #220303;
    --buttonColor: #bf2603;
}

// Box Shadow

$boxShadowLeft: -40px 40px 0px -15px var(--accentColor);

$boxShadowRight: 40px 40px 0px -15px var(--accentColor);