

// Colors

// Text color (white)
$textColor: #fff;

// Background color 1 (near black)
$background1: #111010;

// Background color 2 (dark red)
$background2: #220303;

// Icon/button color (red)
$buttonColor: #bf2603;

// Accent color (orange)
$accentColor: #ff8327;



// Box Shadow

$boxShadowLeft: -20px 20px 0px -5px #ff8327;

$boxShadowRight: 20px 20px 0px -5px #ff8327;