html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1, h2, h3, h4, a, p, ul, li, button, form, i, input, label {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

:root {
  --accentColor: #ff8327;
  --background2: #220303;
  --buttonColor: #bf2603;
}

body {
  font-family: "Chathura", sans-serif;
  font-weight: 700;
  color: #fff;
}

input::-webkit-input-placeholder {
  font-family: "Chathura", sans-serif;
}

input::-moz-placeholder {
  font-family: "Chathura", sans-serif;
}

input:-ms-input-placeholder {
  font-family: "Chathura", sans-serif;
}

input::-ms-input-placeholder {
  font-family: "Chathura", sans-serif;
}

textarea, input::placeholder {
  font-family: "Chathura", sans-serif;
}

.mainH1, .logo, .moreLink, button[type=submit] {
  font-family: "Tulpen One", cursive;
}

h1, h4, p, .moreLink, button, .contactInfo li {
  font-weight: 400;
}

h2, .contactPage h1, .blogPage h1 {
  font-size: 4.16rem;
  line-height: 4.735rem;
  letter-spacing: 0.11rem;
}

.mainH1 {
  font-size: 13.07rem;
  letter-spacing: 2.4px;
  color: var(--accentColor);
}

h3 {
  font-size: 3.4rem;
  line-height: 2.9rem;
  letter-spacing: 0.11rem;
}

h4 {
  font-size: 2.5rem;
  letter-spacing: 0.05rem;
}

.blogCopy h4, .blogAsideCopy a {
  font-size: 1.95rem;
}

input::-webkit-input-placeholder {
  font-size: 1.95rem;
  line-height: 1.5rem;
  letter-spacing: 0.095rem;
}

input::-moz-placeholder {
  font-size: 1.95rem;
  line-height: 1.5rem;
  letter-spacing: 0.095rem;
}

input:-ms-input-placeholder {
  font-size: 1.95rem;
  line-height: 1.5rem;
  letter-spacing: 0.095rem;
}

input::-ms-input-placeholder {
  font-size: 1.95rem;
  line-height: 1.5rem;
  letter-spacing: 0.095rem;
}

p, textarea, input::placeholder, .changerLabel {
  font-size: 1.95rem;
  line-height: 1.5rem;
  letter-spacing: 0.095rem;
}

button {
  color: inherit;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.logo {
  font-size: 3rem;
  line-height: 3.5rem;
}

.mainNav li a {
  text-transform: uppercase;
  font-size: 1.9rem;
}

.moreLink {
  font-size: 1.9rem;
  letter-spacing: 0.1rem;
}

.socialNav li {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.contactInfo li {
  font-size: 1.9rem;
}

.blogAsideCopy ul {
  line-height: 1.5rem;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.copyright p {
  line-height: 3rem;
}

html {
  font-size: 125%;
}

body {
  background-color: #111010;
}

.wrapper {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 4rem 0;
}

.mobileNavContainer {
  display: none;
}

img {
  width: 100%;
  display: block;
}

i {
  font-size: 1.5rem;
}

button, .moreLink {
  border: 2px solid var(--buttonColor);
}

.accentColor,
a:hover,
a:focus,
.fa-bars:hover,
.fa-bars:focus {
  color: var(--accentColor);
}

.moreLink, button {
  background-color: var(--buttonColor);
  padding: 0.25rem 2rem;
}

.moreLink:hover,
.moreLink:focus,
button:hover,
button:focus {
  color: var(--background2);
  background-color: #fff;
}

.moreLink:focus, button:focus {
  border: 2px solid var(--accentColor);
}

.infoCopy p, .eventsSection p, .hostPartySection p {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

footer {
  background-color: #363636;
}

.copyright p {
  text-align: center;
  line-height: 3rem;
}

.changerButton {
  margin: 0 0.75rem 0 0.25rem;
}

header {
  background: url(../../../assets/home-image-1.jpg) center;
  background-size: cover;
  height: 100vh;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.mainNav, .titleContainer {
  z-index: 1;
}

.mainNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  max-width: 650px;
  margin: 0 auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.mainNav ul .home {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.mainNav ul .about {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.mainNav ul .logo {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  min-width: 120px;
  text-align: center;
}
.mainNav ul .blog {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}
.mainNav ul .contact {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}
.mainNav ul a, .mainNav ul .logo {
  padding: 0 calc(1vw);
}
.mainNav ul .logo {
  margin-bottom: -0.5rem;
}

.mobileNav {
  position: relative;
}
.mobileNav ul {
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.082);
  padding: 0.5rem 1rem;
  position: absolute;
  right: 0;
}

.titleContainer {
  height: 100%;
  width: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerImg {
  position: absolute;
  bottom: -12.5%;
  right: 0;
  width: 50%;
}

h2 {
  margin: -4rem 0 0 0.3rem;
}

.aboutSection {
  padding: 3rem 0;
}
.aboutSection .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.aboutSection .wrapper ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.aboutSection li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 50%;
  padding: 2rem 0;
}
.aboutSection li .aboutCopy {
  padding: 0.1rem 1rem;
}

.circleAccent {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: var(--buttonColor);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.planningInfoSection {
  background-color: var(--background2);
}

.infoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0;
}
.infoContainer .infoImgTop {
  -webkit-box-shadow: 40px 40px 0px -15px var(--accentColor);
          box-shadow: 40px 40px 0px -15px var(--accentColor);
  margin-top: -5rem;
  width: 40%;
}
.infoContainer .infoImgBottom {
  -webkit-box-shadow: -40px 40px 0px -15px var(--accentColor);
          box-shadow: -40px 40px 0px -15px var(--accentColor);
  margin-bottom: -5rem;
}
.infoContainer .infoCopy, .infoContainer .infoImgTop, .infoContainer .infoImgBottom {
  width: 42.5%;
}
.infoContainer .infoCopy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.infoContainer .infoCopy1 {
  padding-right: 10%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.infoContainer .infoCopy2 {
  padding-left: 10%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.infoContainer img {
  -o-object-fit: cover;
     object-fit: cover;
}

.infoContainer:last-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.hostPartySection {
  text-align: center;
  padding: 5rem 0 4rem 0;
}

.breakBanner {
  background-image: url(../../../assets/banner-image.jpg);
  background-position: center;
  background-size: cover;
  height: 500px;
}

.eventsSection .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.eventsSection .wrapper .eventsCopy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 70%;
  padding-left: 4rem;
}
.eventsSection .wrapper .eventsImg {
  width: 30%;
}
.eventsSection .wrapper .eventsImg img {
  -webkit-box-shadow: -40px 40px 0px -15px var(--accentColor);
          box-shadow: -40px 40px 0px -15px var(--accentColor);
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0.75rem 0 1.25rem 0;
}

.gallery {
  background-color: var(--background2);
  width: 100%;
  padding: 4rem 0;
}
.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery ul li {
  width: calc(100% / 3 - 1rem);
}

.kewlStuff {
  color: cyan;
}

.blogPage header {
  height: auto;
  height: 50vh;
  max-height: 400px;
  background-image: url(../../../assets/blog-header-1.jpg);
  background-size: cover;
}
.blogPage main {
  padding: 0;
}
.blogPage main > .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0;
  width: 100%;
  max-width: 1920px;
}
.blogPage .articleSection {
  width: 60%;
  margin-bottom: -8rem;
  position: relative;
  top: -8rem;
  margin-left: 1.25rem;
  z-index: 1;
}
.blogPage .articleImg {
  -webkit-box-shadow: -40px 40px 0px -15px var(--accentColor);
          box-shadow: -40px 40px 0px -15px var(--accentColor);
}
.blogPage .blogCopy {
  margin: 0 0 0 -25px;
  border-left: 5px solid var(--accentColor);
  border-bottom: 5px solid var(--accentColor);
  padding: 4.5rem 3rem 4.5rem 4.5rem;
}
.blogPage .blogCopy h4 {
  margin-top: -0.4rem;
}
.blogPage .blogCopy p {
  margin-top: 1.5rem;
}
.blogPage .commentForm {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}
.blogPage .commentForm > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blogPage .commentForm input {
  background-color: #111010;
  border: none;
  width: 100%;
  height: 2rem;
  color: #fff;
  padding: 0 0.5rem;
  border: 2px solid #111010;
  border-bottom: 2px solid var(--accentColor);
}
.blogPage .commentForm textarea {
  border: 2px solid var(--accentColor);
  height: 10rem;
  width: 100%;
  resize: none;
  background-color: #111010;
  color: #fff;
  padding: 0.5rem;
}
.blogPage .commentForm input:focus, .blogPage .commentForm textarea:focus {
  border: 2px solid var(--accentColor);
}
.blogPage .commentForm .nameContainer, .blogPage .commentForm .emailContainer {
  width: calc(50% - 0.5rem);
}
.blogPage .commentForm .messageContainer {
  margin: 2rem 0;
}

.blogComment img {
  width: 5rem;
  height: 5rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 15px;
}

.blogComment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 1.25rem 0 3rem 0;
}

.commentCopy {
  margin-left: 2rem;
}

.blogAside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 40%;
  padding: 6rem 4rem;
}

.asideImg {
  width: 115%;
  background-color: var(--background2);
}
.asideImg img {
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  right: 1.75rem;
  margin-top: -1rem;
}

.blogAsideCopy {
  background-color: var(--background2);
  width: 100%;
  padding-bottom: 0.5em;
  padding: 1.5rem 0 1.5rem 1.5rem;
}
.blogAsideCopy div, .blogAsideCopy nav {
  width: 80%;
}
.blogAsideCopy a:hover, .blogAsideCopy a:focus {
  color: #fff;
}
.blogAsideCopy ul {
  padding-left: 1.5rem;
}
.blogAsideCopy li {
  list-style-type: disc;
}
.blogAsideCopy li::marker {
  color: var(--buttonColor);
}

.blogPage header .wrapper,
.contactPage header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contactPage header {
  height: auto;
  height: 50vh;
  max-height: 400px;
  background-image: url(../../../assets/contact-header-1.jpg);
  background-size: cover;
}
.contactPage main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
}
.contactPage .contactForm {
  background-color: var(--background2);
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 40px 40px 0px -15px var(--accentColor);
          box-shadow: 40px 40px 0px -15px var(--accentColor);
  padding: 3rem 2rem 2rem 2rem;
  margin: -5rem 0 5rem 0;
  z-index: 1;
}
.contactPage .contactForm > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contactPage .contactForm input {
  background-color: var(--background2);
  border: none;
  width: 100%;
  height: 2rem;
  color: #fff;
  padding: 0 0.5rem;
  border: 2px solid var(--background2);
  border-bottom: 2px solid #fff;
}
.contactPage .contactForm textarea {
  border: 2px solid #fff;
  height: 10rem;
  width: 100%;
  resize: none;
  background-color: var(--background2);
  color: #fff;
  padding: 0.5rem;
}
.contactPage .contactForm input:focus, .contactPage .contactForm textarea:focus {
  border: 2px solid var(--accentColor);
}
.contactPage .contactForm .nameContainer, .contactPage .contactForm .emailContainer {
  width: calc(50% - 0.5rem);
}
.contactPage .contactForm .messageContainer {
  margin: 2rem 0;
}

aside {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socialNav {
  padding: 4rem 0;
}
.socialNav ul:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 8rem;
}
.socialNav li {
  line-height: 1.5rem;
}
.socialNav i {
  font-size: 1.25rem;
}
.socialNav .contactInfo li:first-of-type {
  margin: 1rem 0;
}
.socialNav .contactInfo {
  margin-right: 2rem;
}

@media only screen and (max-width: 1100px) {
  .blogPage .blogAside {
    padding: 0;
  }
  .blogPage .blogAside .blogAsideCopy {
    padding-left: 2rem;
  }
}
@media only screen and (max-width: 950px) {
  header .mainNav {
    padding-right: 5%;
  }

  section {
    padding: 1rem;
  }
  section h3, section a {
    -ms-flex-item-align: center;
        align-self: center;
  }

  p {
    text-align: left;
  }

  .aboutSection li {
    width: 100%;
    padding-bottom: 0;
  }

  .planningInfoSection .infoContainer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
    margin: 0 auto;
  }
  .planningInfoSection .infoContainer img, .planningInfoSection .infoContainer div {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .planningInfoSection .infoContainer div {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 2rem;
  }

  .hostPartySection {
    padding: 1rem;
  }

  .eventsSection .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .eventsSection .wrapper .eventsImg, .eventsSection .wrapper .eventsCopy {
    width: 100%;
  }
  .eventsSection .wrapper .eventsCopy {
    margin-top: 2rem;
    padding: 0;
  }

  .gallery ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .gallery ul li:last-of-type {
    display: none;
  }
  .gallery ul li {
    width: calc(50% - 0.5rem);
  }

  .blogPage main .wrapper {
    padding: 2rem 0 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogPage main aside, .blogPage main article {
    padding: 0;
  }

  .blogPage main .wrapper .articleSection, .blogPage main .wrapper .blogAside {
    width: 100%;
  }

  .wrapper .articleSection {
    top: 0;
    padding-top: 0;
    margin: 2rem 0;
  }

  .blogPage .blogCopy {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-bottom: 0.5rem solid var(--accentColor);
  }

  main .wrapper .blogAside .articleImg {
    margin: 0 auto;
    padding: 1rem 0;
  }

  .blogAside {
    background-color: var(--background2);
  }
  .blogAside .blogAsideCopy {
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0;
  }
  .blogAside .blogAsideCopy nav {
    margin-left: 2rem;
  }
  .blogAside .asideImg {
    width: 100%;
    margin: 0 auto;
    padding: 6rem 6rem 3rem 6rem;
  }
  .blogAside .asideImg img {
    right: 0;
  }

  .contactPage main .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactPage .contactForm, .contactPage aside {
    width: 100%;
  }
  .contactPage aside nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    padding: 1.5rem;
  }
  .contactPage aside nav ul:first-of-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-top: 1rem;
    margin: 0 3rem 0 0;
    width: auto;
  }
}
@media screen and (max-width: 640px) {
  .wrapper {
    width: 100%;
  }

  .mainNav ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .mainNav li {
    display: none;
  }

  .mobileNavContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 1rem;
  }
  .mobileNavContainer h3 {
    margin: -1rem 0 0 0;
  }

  .contactPage h1, .blogPage h1 {
    text-align: center;
  }

  .wrapper {
    padding: 1rem 0;
  }

  .mainH1 {
    font-size: 6rem;
  }

  header .headerImg {
    display: none;
  }
  header h2 {
    font-size: 3rem;
    margin-top: -2.5rem;
    margin-left: 0.1rem;
  }

  .aboutSection .aboutCopyContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .aboutSection {
    padding-top: 0;
  }
  .aboutSection h3 {
    text-align: center;
  }

  .planningInfoSection ul .infoCopy {
    padding-top: 3rem;
  }

  .infoContainer:first-of-type {
    padding-bottom: 0;
  }

  .breakBanner {
    display: none;
  }

  .eventsSection .eventsImg {
    padding: 0 3rem;
  }

  .blogPage main .wrapper {
    width: 100%;
    padding-bottom: 0;
  }
  .blogPage .articleSection {
    margin: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .blogPage .articleSection .articleImg {
    width: 85%;
  }
  .blogPage .blogCopy {
    padding: 2rem 0;
    margin: 0;
    border-left: none;
    border-bottom: 5px solid var(--accentColor);
  }
  .blogPage .articleSection .comments {
    width: 100%;
    padding: 0;
    margin: 2rem 0 0 0;
  }
  .blogPage .blogComment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogPage .blogComment img {
    display: none;
  }
  .blogPage .blogComment .commentCopy {
    margin: 0 auto;
  }
  .blogPage .commentForm {
    margin-bottom: 1.5rem;
  }
  .blogPage .commentForm > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogPage .commentForm > div .emailContainer, .blogPage .commentForm > div .nameContainer {
    width: 100%;
  }
  .blogPage .blogCopy .asideImg {
    padding: 0rem;
  }
  .blogPage .blogAside .asideImg {
    width: 90%;
    padding: 3rem 0;
  }
  .blogPage .blogAside .blogAsideCopy {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 0 0 2rem 0;
  }
  .blogPage .blogAside .blogAsideCopy .blogNav {
    margin: 0;
  }

  .contactForm > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contactPage .contactForm {
    margin: 0;
    border-bottom: 1rem solid var(--accentColor);
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .contactPage .contactForm .nameContainer, .contactPage .contactForm .emailContainer {
    width: 100%;
    margin-top: 1rem;
  }
}