html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1, h2, h3, h4, a, p, ul, li, button, form, i, input, label {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

body {
  font-family: "Chathura", sans-serif;
  font-weight: 700;
}

.mainH1, .logo, .moreLink, button[type=submit] {
  font-family: "Tulpen One", cursive;
}

h1, p, .moreLink, button {
  font-weight: 400;
}

h2, .contactPage h1, .blogPage h1 {
  font-size: 4.16rem;
  line-height: 4.735rem;
  letter-spacing: 0.11rem;
}

.mainH1 {
  font-size: 13.07rem;
  letter-spacing: 2.4px;
  color: #ff8327;
}

h3 {
  font-size: 3.4rem;
  line-height: 2.9rem;
  letter-spacing: 0.11rem;
}

p {
  font-size: 1.95rem;
  line-height: 1.5rem;
  letter-spacing: 0.095rem;
}

.logo {
  font-size: 3rem;
  line-height: 3.5rem;
}

.mainNav li a {
  text-transform: uppercase;
  font-size: 1.9rem;
}

.moreLink {
  font-size: 1.9rem;
  letter-spacing: 0.1rem;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.copyright p {
  line-height: 3rem;
}

.socialNav, label {
  font-size: 1.5rem;
}

html {
  font-size: 125%;
}

body {
  background-color: #111010;
  color: #fff;
}

.wrapper {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 4rem 0;
}

img {
  width: 100%;
  display: block;
}

i {
  font-size: 1.5rem;
}

button {
  border: none;
}

.accentColor,
a:hover,
a:focus {
  color: #ff8327;
}

.moreLink, button {
  background-color: #bf2603;
  padding: 0.25rem 1.5rem;
}

.moreLink:hover,
.moreLink:focus,
button:hover,
button:focus {
  color: #220303;
  background-color: #fff;
}

.infoCopy p, .eventsSection p, .hostPartySection p {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.copyright p {
  text-align: center;
}

header {
  background: url(../../../assets/home-image-1.jpg) center;
  background-size: cover;
  height: 100vh;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.mainNav, .titleContainer {
  z-index: 1;
}

.mainNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  max-width: 650px;
  margin: 0 auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.mainNav ul .home {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.mainNav ul .about {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.mainNav ul .logo {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  min-width: 120px;
  text-align: center;
}
.mainNav ul .blog {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}
.mainNav ul .contact {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}
.mainNav ul a, .mainNav ul .logo {
  padding: 0 calc(1vw);
}
.mainNav ul .logo {
  margin-bottom: -0.5rem;
}

.titleContainer {
  height: 100%;
  width: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerImg {
  position: absolute;
  bottom: -10%;
  right: 0;
  width: 50%;
}

h2 {
  margin: -4rem 0 0 0.3rem;
}

.aboutSection {
  padding: 2rem;
}
.aboutSection .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.aboutSection .wrapper ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.aboutSection li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 50%;
  padding: 2rem 0;
}
.aboutSection li .aboutCopy {
  padding: 0.1rem 1rem;
}

.circleAccent {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #bf2603;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.planningInfoSection {
  background-color: #220303;
}

.infoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
}
.infoContainer .infoImgTop {
  -webkit-box-shadow: 20px 20px 0px -5px #ff8327;
          box-shadow: 20px 20px 0px -5px #ff8327;
  margin-top: -4rem;
  width: 40%;
}
.infoContainer .infoImgBottom {
  -webkit-box-shadow: -20px 20px 0px -5px #ff8327;
          box-shadow: -20px 20px 0px -5px #ff8327;
  margin-bottom: -4rem;
}
.infoContainer .infoCopy, .infoContainer .infoImgTop, .infoContainer .infoImgBottom {
  width: 42.5%;
}
.infoContainer .infoCopy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.infoContainer .infoCopy1 {
  padding-right: 10%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.infoContainer .infoCopy2 {
  padding-left: 10%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.infoContainer img {
  -o-object-fit: cover;
     object-fit: cover;
}

.infoContainer:last-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.hostPartySection {
  text-align: center;
  padding: 2rem 0;
}

.breakBanner {
  background-image: url(../../../assets/banner-image.jpg);
  background-position: center;
  background-size: cover;
  height: 500px;
}

.eventsSection .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4rem 0;
}
.eventsSection .wrapper .eventsCopy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 75%;
  padding-left: 4rem;
}
.eventsSection .wrapper .eventsImg {
  width: 25%;
}
.eventsSection .wrapper .eventsImg img {
  -webkit-box-shadow: -20px 20px 0px -5px #ff8327;
          box-shadow: -20px 20px 0px -5px #ff8327;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery {
  background-color: #220303;
  width: 100%;
}
.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery ul li {
  width: calc(100% / 3 - 1rem);
}

.contactPage header {
  height: auto;
}
.contactPage main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.contactPage .contactForm {
  background-color: #220303;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 20px 20px 0px -5px #ff8327;
          box-shadow: 20px 20px 0px -5px #ff8327;
  padding: 3rem 2rem 2rem 2rem;
}
.contactPage .contactForm > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contactPage .contactForm label {
  position: absolute;
  top: 0;
  left: 0;
}
.contactPage .contactForm input {
  background-color: #220303;
  border: none;
  width: 100%;
}
.contactPage .contactForm input[name=name], .contactPage .contactForm input[name=email] {
  border-bottom: 2px solid #fff;
}
.contactPage .contactForm input[name=message] {
  border: 2px solid #fff;
}
.contactPage .contactForm input:focus {
  background-color: #fff;
  color: #220303;
}
.contactPage .contactForm .nameContainer, .contactPage .contactForm .emailContainer, .contactPage .contactForm .messageContainer {
  position: relative;
}
.contactPage .contactForm .nameContainer, .contactPage .contactForm .emailContainer {
  width: calc(50% - 1rem);
}
.contactPage .contactForm .messageContainer {
  margin: 2rem 0;
}

aside {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socialNav {
  width: 25%;
}
.socialNav ul:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.socialNav .contactInfo:first-child {
  padding: 2rem 0;
}

@media only screen and (max-width: 950px) {
  section {
    padding: 1rem;
  }
  section h3, section a {
    -ms-flex-item-align: center;
        align-self: center;
  }

  p {
    text-align: left;
  }

  .aboutSection li {
    width: 100%;
    padding-bottom: 0;
  }

  .planningInfoSection .infoContainer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
    margin: 0 auto;
  }
  .planningInfoSection .infoContainer img, .planningInfoSection .infoContainer div {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .planningInfoSection .infoContainer div {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 2rem;
  }

  .hostPartySection {
    padding: 1rem;
  }

  .eventsSection .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .eventsSection .wrapper .eventsImg, .eventsSection .wrapper .eventsCopy {
    width: 100%;
  }
  .eventsSection .wrapper .eventsCopy {
    margin-top: 2rem;
    padding: 0;
  }
}
@media (max-width: 640px) {
  .wrapper {
    width: 100%;
  }

  .gallery ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .gallery ul li {
    width: 100%;
  }
  .gallery ul li:nth-of-type(2) {
    padding: 1rem 0;
  }
}