html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1, h2, h3, h4, a, p, ul, li, button, form, i, input, label {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

body {
  font-family: "Chathura", sans-serif;
  font-weight: 700;
}

h1, .logo, .moreLink, button[type=submit] {
  font-family: "Tulpen One", cursive;
}

h1, p, .moreLink {
  font-weight: 400;
}

h1 {
  font-size: 13.07rem;
  letter-spacing: 2.4px;
  color: #ff8327;
}

h2 {
  font-size: 4.16rem;
  line-height: 4.735rem;
  letter-spacing: 0.11rem;
}

h3 {
  font-size: 3.4rem;
  line-height: 2.9rem;
  letter-spacing: 0.11rem;
}

p {
  font-size: 1.95rem;
  line-height: 1.5rem;
  letter-spacing: 0.095rem;
}

.logo {
  font-size: 3rem;
  line-height: 3.5rem;
}

.mainNav li a {
  text-transform: uppercase;
  font-size: 1.9rem;
}

.moreLink {
  font-size: 1.9rem;
  letter-spacing: 0.1rem;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.copyright p {
  line-height: 3rem;
}

html {
  font-size: 125%;
}

body {
  background-color: #111010;
  color: #fff;
}

.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 0;
}

img {
  width: 100%;
  display: block;
}

.accentColor {
  color: #ff8837;
}

.moreLink {
  background-color: #bf2603;
  padding: 0.25rem 1.5rem;
}

.infoCopy p, .eventsSection p, .hostPartySection p {
  margin-bottom: 1rem;
}

.copyright p {
  text-align: center;
}

header {
  background: url(../../../assets/home-image-1.jpg) center;
  background-size: cover;
  height: 100vh;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.mainNav, .titleContainer {
  z-index: 1;
}

.mainNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 50%;
  margin: 0 auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.mainNav ul .home, .mainNav ul .about {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.titleContainer {
  height: 100%;
  width: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerImg {
  position: absolute;
  bottom: -10%;
  right: 0;
  width: 50%;
}

h2 {
  margin: -4rem 0 0 0.3rem;
}

.aboutSection {
  padding: 2rem;
}
.aboutSection .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.aboutSection .wrapper ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.aboutSection li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 50%;
}
.aboutSection li .aboutCopy {
  padding: 0.1rem 1rem;
}

.circleAccent {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #bf2603;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.planningInfoSection {
  background-color: #220303;
}
.planningInfoSection li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0;
}
.planningInfoSection li .infoImgTop {
  -webkit-box-shadow: 20px 20px 0px -5px #ff8327;
          box-shadow: 20px 20px 0px -5px #ff8327;
  margin-top: -4rem;
  width: 40%;
}
.planningInfoSection li .infoImgBottom {
  -webkit-box-shadow: -20px 20px 0px -5px #ff8327;
          box-shadow: -20px 20px 0px -5px #ff8327;
  margin-bottom: -4rem;
}
.planningInfoSection li .infoCopy, .planningInfoSection li .infoImgTop, .planningInfoSection li .infoImgBottom {
  width: 42.5%;
}
.planningInfoSection li .infoCopy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.planningInfoSection li .infoCopy1 {
  padding-right: 7rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.planningInfoSection li .infoCopy2 {
  padding-left: 7rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.planningInfoSection li:last-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.hostPartySection {
  text-align: center;
  padding: 2rem 0;
}

.breakBanner {
  background-image: url(../../../assets/banner-image.jpg);
  background-size: cover;
  height: 50vh;
}

.eventsSection .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 0;
}
.eventsSection .wrapper .eventsCopy {
  width: 75%;
  padding-left: 4rem;
}
.eventsSection .wrapper .eventsImg {
  width: 25%;
}

.gallery {
  background-color: #220303;
  width: 100%;
}
.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery ul li {
  width: calc(100% / 3 - 1rem);
}